html{
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*,*::before,*::after{
    box-sizing: inherit;
}

h1{
    font-weight: bold;
    font-size: 2.4rem; 
}

/* using Flexbox */

/* main{
    display: flex;
    border: 0.3rem solid #56626E;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
section{
    background-color: #50a1af;
    border-radius: 5px;
    color: white;
    flex-basis: 14rem;
    flex-grow: 1;
    font-weight: bold;
    margin: 0.6rem;
    padding: 0.8rem;
} */


/* using Grid */

main{
    border: 0.3rem solid #56626E;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

section{
    background-color: #50a1af;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin:0.5rem;
    padding: 0.8rem;
}

@media (min-width:890px) and ( max-width:1180px){
    main{

        grid-template-areas:
        'A B C' 
        'D D D';
    }
    
    section:nth-of-type(4){
        grid-area: D;
    }
}
