body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #c5baba ;
    font-family: Arial, Helvetica, sans-serif;
}
*,*::before,*::after{
    box-sizing: inherit;
}

main{
    
    background-color: #ffffff;
    border-radius: 7px;
    width: 400px;
    margin: 0 auto;
    margin-top: 2rem;
}
section{
    
    padding-top: 1rem;
    text-align: center;
}

select{
    display: block;
    width: 250px;
    margin: 0 auto;
    height: 2rem;
}

button{
    background-color: rgb(220, 125, 152);
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 1rem;
    width: 250px;
    height: 2rem;
}

img{
    background-color: rgb(175, 244, 221);
    /* margin-left: 1.6rem; */
    /* margin-top: 1rem; */
    border-radius: 5px;
    width: 350px;
    border: 2px solid rgb(88, 85, 85);
}

article{
    margin: 20px;
    text-align: center;
}

#cars {
    border: 2px solid black;
    border-radius: 5px;
}
